<?xm 1 version="1.O" encoding="UTF-8" ?> 
<!DOCTYPE ht ml> 
<html xm1ns="http://www.w3.org/1999/xhtm1"> 
	<head> 
		<title>Gestions de Classes</title> 
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
	</head> 
	<body> 
		 
			<h1>Bienvenu Sur ClassGes</h1>
			<h2>Inscription</h2> 
			<fieldset>
			</fieldset>	
			<form method="get" action="register">
				{{ form.as_p }}
				<p>
					<input type="submit" name="ok" value="S'inscrire">
				</P>
			</form> 
		
		
	</body> 
</htmh>